.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
public/business/16/bLogo_16.gif
public/business/14/bLogo_14.png